#
# The kernel command line needs to provide:
# 1. URL to the clr-installer YAML configuration file
#    i.e. clri.descriptor=http://server.com/path/file.yaml
# 2. Provide the default console device for the hardware
#    i.e. console=tty1
#
[Unit]
Description=Clear Linux OS Installer
After=systemd-user-sessions.service plymouth-quit.service

[Service]
Type=idle
ExecStart=/bin/bash -l -c /usr/bin/clr-installer
# The post disable is a temp workaround as clr-boot-manager is
# not setting the right boot target
ExecStartPost=/usr/bin/systemctl disable clr-installer-provision
Restart=on-failure
StandardInput=tty
StandardOutput=tty
StandardError=tty
TTYPath=/dev/console

[Install]
WantedBy=multi-user.target
